/* Container principal da página */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4; /* Cor de fundo */
}

/* Conteúdo principal (logo e botões) */
.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logo */
.littlelogo {
  margin-bottom: 20px;
  max-width: 70%;
  height: auto;
}

/* Container dos botões */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaçamento entre os botões */
  margin-top: 20px;
}

/* Estilo dos botões de login e registro */
button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Botão de login */
.login-button {
  background-color: #FF0048;
  color: white;
}

.login-button:hover {
  background-color: #E60040;
}

/* Botão de registrar */
.registrar-button {
  background-color: #ccc;
  color: #333;
}

.registrar-button:hover {
  background-color: #999;
}

/* Responsividade para telas pequenas */
@media (max-width: 480px) {
  .login-content {
    padding: 15px;
  }

  .button-container button {
    width: 100%;
    margin-bottom: 10px;
  }
}
