.unique-login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.unique-login-form {
  max-width: 400px;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #FF0048;
  font-size: 24px;
  font-weight: bold;
}

.unique-login-form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.unique-login-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.unique-login-button {
  width: 100%;
  padding: 12px;
  background-color: #FF0048;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unique-login-button:hover {
  background-color: #E60040;
}

.unique-login-error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

@media (max-width: 480px) {
  .unique-login-form {
    padding: 15px;
  }

  .unique-login-button {
    padding: 10px;
  }
}
