.profile-container {
    text-align: center;
    padding: 20px;
}

.profile-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-card p {
    font-size: 16px;
    color: #333;
}

.create-product-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.create-product-button:hover {
    background-color: #d32f2f;
}

.products-section {
    margin-top: 40px;
}

.product-list {
    list-style-type: none;
    padding: 0;
}

.product-item {
    background-color: #f0f0f0;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item h3 {
    font-size: 20px;
}

.product-item p {
    font-size: 16px;
    color: #555;
}

.edit-button,
.delete-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.edit-button:hover {
    background-color: #d32f2f;
}

.delete-button:hover {
    background-color: #c62828;
}

.product-image {
    max-width: 100%;      
    height: auto;         
    border-radius: 8px;   
  }
  

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    opacity: 0.9;
}
