.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(238, 19, 56);
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.profilebutton {
  position: absolute;  
  top: 50%;  
  right: 10px; 
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.profilebutton:hover {
  width: 100px; 
  height: 60px; 
}

.profilepic {
  width: 40px;
  height: 40px;  
  border-radius: 50%; 
  object-fit: cover;  
}
