.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.login-form {
  max-width: 400px;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #FF0048;
}

p {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #f0f0f0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #FF0048;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #E60040;
}

.error-message {
  color: red;
  text-align: center;
}
